/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    border-radius: 40px;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
/* Navigation Bar: logo and image */
#logo{
margin: 34px 45px;
}

#logo img{
height: 56px;
margin: 34px 45px;
}
/* navigation bar: list styling */
#navbar ul{
    display: flex;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;

}#navbar ul li a{
    color: rgb(4, 3, 3);
     display: block;
     padding: 3px 22px;
     border-radius: 20px;
     text-decoration: none;
}

#navbar ul li a:hover{
    color: rgb(10, 10, 10);
 background-color: rgb(179, 32, 32);    
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 28px;
    height: 370px;
    justify-content: center;
    align-items: center;
}
#home::before{
 content: "";
 position: absolute;
 background: url(../IMG/IMAGE1.webp) no-repeat center center/cover;   
 height: 100%;
 width: 100%;
 z-index: -1;
 opacity: 0.40;
}
#home h1{
    color: rgb(35, 211, 15);
    text-align: center;
}
#home p{
    color: rgb(11, 9, 9);
    text-align: center;
    font-size: 1.5rem;
 }
#services{
    /* background-image: url(../IMG/); */

    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid red ;
}
#services .box img{
height: 149px;
margin: auto;
display: block;
}
#services .box p{
font-family: "";
}
#client-section::before{
    content: "";
    position: absolute; 
    background-image: url(../IMG/IMAGE3.webp);
    
    width: 100%;
    height: 100%;
    
    z-index: -1;
    opacity: 0.3;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
    height: 124px;
}

/* #contact{
    background-image: url(../IMG/contact.png) ;
    margin: 34px;
    display: flex;
} */
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: ;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;
}
/* utility classes */
.h-primary{
    font-family: ;
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
font-family: ;
font-size: 2.3rem;
padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    /* color: white; */
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    color: rgb(14, 12, 12);
 background-color: rgb(21, 233, 18);    
}
.center{
    text-align: center;
}